{% extends 'base.html' %}

{% block extra_meta %}{{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Subscription
                <small>{{ plan.title }}</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                 <div class="panel-body">
                    We are sorry. An error has occurred. Try to make a subsctiption later.
                  </div>
            </div>
            <p>A lot of usesfull information here</p>
        </div>
    </div>

{% endblock %}