{% extends "dashboard/base_prev.html" %}
{% load building_widgets %}
{% load accounts_tags %}
{% load staticfiles %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|wcapfirst }}{% endblock %}

{% block extra_meta %}{{ block.super }}
{% endblock %}


{% block dashboard_content %}
    <div class="row">
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'edit-profile' %}">Edit</a></li>
              <li class="active">Change Password</li>
            </ol>

            <h3>Change Password</h3>
            <hr/>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

            <form class="form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% crispy form %}
            </form>

        </div>
    </div>
{% endblock %}
