
<div class="target-item draggable" data-position="position" style="z-index: 99999;">
    <div class="icon active item_<%= content.type %>"></div>
    <div class="menu_item_buttons" style="display: none; z-index: 101000">
        <a href="#" class="center_item_link" id="center_item_<%= shortcut %>" title="Center"><img alt="Center" src="/static/images/plugins/center.png" /></a>
        <a href="#" class="delete_item_link" id="delete_item_<%= shortcut %>" title="Delete"><img alt="Delete" src="/static/images/plugins/delete.png" /></a>
    </div>
</div>

<div class="target-region resizable draggable" style="z-index: 99990;" data-position="region">
</div>
