<div class="span1 toolbar">
    <div class="title">Tools</div>
    <div class="available_items"></div>
</div>

<div class="span8">
    <div class="target-zone">
        <div class="target-area">
            <div class="navigator"></div>
            <div class="target"></div>
        </div>
    </div>
</div>

<div class="span3 sidebar-area">
    <div class="properties-area">
        <div class="properties"></div>
    </div>
    <div class="layers-area">
        <div class="layers"></div>
    </div>
</div>
