<div class="task_info">
    <h5 class="page-header">Информация</h5>
    <p>{{ task.user.profile.name }}</p>
    <p>{{ task.user.profile.telephone }}</p>
    <p>{{ task.user.profile.location }}</p>
    <p>{{ task.user.profile.email }}</p>

    <hr/>

    <p><strong>Статус:</strong></p>
    <p >{{ task.get_status_display }}</p>
    <p>Создано:</p>
    <p>{{ task.created }}</p>
    <p>Обновлено:</p>
    <p>{{ task.modified }}</p>

    <br/>
    <p><strong>Комментарий модератора:</strong></p>
    <p>{{ task.moderator_comments|default:"-"|linebreaks }}</p>

    <div class="officerBlock">
        <br/>
        <p class="who"><strong>Исполнитель</strong></p>

        {% if task.executor_first_name %}
            {#            <img src="{{ STATIC_URL }}img/photo_180x180.jpg" width="180" height="180" alt="" class="photo" />#}
            <p class="name">{{ task.executor_first_name }} {{ task.executor_last_name }}<br /></p>
            <p class="phone"><span></span>{{task.executor_phone}}</p>
            {#            <p class="profile"><a href="#">Профиль</a> на <img src="{{ STATIC_URL }}img/YouDo-logotype.png" width="48" height="16" alt="" /></p>#}
        {% else %}
            <p>Не найден</p>
        {% endif %}
    </div><!-- //officerBlock -->
</div>
