<hr/>

<div class="gallery-images"></div>

<fieldset>
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Add images...</span>
            <input class="input-file" id="fileupload" type="file" name="files[]" multiple>
        </span>

        <div class="controls">
            <div class="gallery-progress progress progress-info progress-striped">
                <div style="width: 0%" class="bar"></div>
            </div>
        </div>
    </div>
</fieldset>
